<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PosUserGrade</servlet-name>
    <servlet-class>web.PosGradeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubcompanyPosServlet</servlet-name>
    <servlet-class>web.SubCompanyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindUserByCID</servlet-name>
    <servlet-class>web.FindUserByCIDServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindUser</servlet-name>
    <servlet-class>web.PosUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindSubCompanyAndUser</servlet-name>
    <servlet-class>web.FindSubCompanyAndUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveSubCompanys</servlet-name>
    <servlet-class>web.SaveSubCompanysServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSubCompanyServlet</servlet-name>
    <servlet-class>web.DeleteSubCompanyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveUsersServlet</servlet-name>
    <servlet-class>web.SaveUsersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteUsersServlet</servlet-name>
    <servlet-class>web.DeleteUsersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveSubCompanyAndUser</servlet-name>
    <servlet-class>web.SaveSubCompanyAndUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSubCompanyAndUserServlet</servlet-name>
    <servlet-class>web.DeleteSubCompanyAndUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindUserAndGradeServlet</servlet-name>
    <servlet-class>web.FindUserAndGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PosUserGrade</servlet-name>
    <url-pattern>/grade.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubcompanyPosServlet</servlet-name>
    <url-pattern>/company.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindUserByCID</servlet-name>
    <url-pattern>/findUserByCID.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindUser</servlet-name>
    <url-pattern>/findUser.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindSubCompanyAndUser</servlet-name>
    <url-pattern>/findSubCompanyAndUser.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveSubCompanys</servlet-name>
    <url-pattern>/saveSubCompanys.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSubCompanyServlet</servlet-name>
    <url-pattern>/deleteSubCompany.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveUsersServlet</servlet-name>
    <url-pattern>/saveUsers.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUsersServlet</servlet-name>
    <url-pattern>/deleteUsers.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveSubCompanyAndUser</servlet-name>
    <url-pattern>/saveSubCompanyAndUser.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSubCompanyAndUserServlet</servlet-name>
    <url-pattern>/deleteSubCompanyAndUser.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindUserAndGradeServlet</servlet-name>
    <url-pattern>/findUserAndGrade.do</url-pattern>
  </servlet-mapping>
</web-app>